@import "../common/styleAssets";

.app{
    height: 100%;
    .app-body{
        position: relative;
        top: 56px;
        padding: 15px 1%;
        min-width: 100%;
        width: fit-content;
        margin: 0 !important;
        max-width: 100% !important;
        height: fit-content;
        min-height: calc(100% - 56px);
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;

        font-size: px-to-rem(15px);

        @media (max-width: $mobile-resolution-breakpoint){
            display: none;
        }
    }
    
    .row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .flex-cols{
        display: flex;
        flex-direction: column;
    }
    
    .btn{
        border: solid 2.5px $white !important;
        background-color: $dark-green !important;  
        font-weight: 600 !important; 
        color: $white !important;
    }
    
    .close{
        span{
            color: $white;
        }
    }

    .not-supported-message{
        display: none;

        @media (max-width: $mobile-resolution-breakpoint){
            display: block;
            position: fixed;
            top: 56px;
            padding: 10px;
            font-size: 24px;
            font-weight: 480;
        }
    }
}
