.body{
    padding: 15px 25px;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-cols{
    display: flex;
    flex-direction: column;
}