@import "../../common/styleAssets";

.previous-bets-dashboard{
    padding: 10px 15px;
    align-items: center;
    width: 69vw;
    @media (min-width: $screen-resolution-breakpoint){
        width: 100%;
    }

    .header{
        background-color: $dark-green;
        color: $white !important;
    }

    .refresh-button-container{
        margin: 15px 0;
        max-height: 40px;
        width: 27%;
        .refresh-button{
            .refresh-icon {
                fill: $white;
                margin-left: 5px;
            }
        }
    }
    .table-custom{
        color: $white;
    }

    .no-selections{
        font-size: 2rem;
        font-weight: 550;
        text-align: center;
    }

    .table-holder{
        position: relative;
        width: 100%;
        overflow-x: auto;
        border-radius: 16px;
        max-height: 500px;
        @media (min-width: $screen-resolution-breakpoint){
            max-height: 800px;
        }
    }

    // custom scroll https://css-tricks.com/almanac/properties/s/scrollbar/
    // 1. scroll u globalu
    .table-holder::-webkit-scrollbar{
        width: 20px;
    }

    // 2. scroll traka
    .table-holder::-webkit-scrollbar-track{
        box-shadow: inset 0 0 5px grey; 
        background-color: $light-green;
        border-radius: 10px;
    }

    // 3. scroll thumb
    .table-holder::-webkit-scrollbar-thumb{
        background: var(--dark-green-s6); 
        border-radius: 10px;
    }

    // 4. donji lijevi ugao di se trake nalaze 
    .table-holder::-webkit-scrollbar-corner{
        display: none;
    }

    .table-holder::-webkit-scrollbar-thumb:hover{
        background: var(--dark-green-80); 
        box-shadow: 0 0 10px var(--dark-green-80);
    }
}