@import "../../common/styleAssets";

.previous-bets-dashboard{
    padding: 10px 15px;
    align-items: center;
    width: 69vw;
    @media (min-width: $screen-resolution-breakpoint){
        width: 100%;
    }

    .header{
        background-color: $dark-green;
        color: $white !important;
    }

    .refresh-button-container{
        margin: 15px 0;
        max-height: 40px;
        width: 27%;
        .refresh-button{
            .refresh-icon {
                fill: $white;
                margin-left: 5px;
            }
        }
    }
    .table-custom{
        color: $white;
    }

    .no-selections{
        font-size: 2rem;
        font-weight: 550;
        text-align: center;
    }

    .table-holder{
        position: relative;
        width: 100%;
        overflow-x: auto;
        border-radius: 16px;
        max-height: 500px;
        @media (min-width: $screen-resolution-breakpoint){
            max-height: 800px;
        }
    }

    .table th, .table td{
        border-top: none;
    }
}