@import "../../../common/styleAssets";

@keyframes show {
    from { 
        opacity: 0;
        transform: translateY(-30px); 
    }
    to{ 
        opacity: 1;
        transform: translateY(0px); 
    }
}

.single-bet{
    animation: show 1s ease;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 10px;

    .custom-form-control{
        width: 40% !important;
        background-color: $dark-green;
        border: solid 1px $white;
        color: $white;
        font-weight: 550;
    }
    .custom-form-control:focus {
        background-color: $light-green;
        border: solid 1px $white;
        color: $white;
        font-weight: 550;
    }

    .label{
        font-size: 20px;
        min-width: 70px;
    }
}