.single-bet{
    width: 100%;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 10px;

    .custom-form-control{
        width: 40% !important;
    }

    .label{
        font-size: 20px;
        min-width: 70px;
    }
}