@import "../../common/styleAssets";

.current-bets-dashboard{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    padding: .7rem;
    border: solid 1px $white;
    border-radius: 16px;
    min-height: fit-content;
    background-color: $dark-green;
    width: calc(97% - 69vw);
    height: 500px;

    @media(min-width: $screen-resolution-breakpoint){
        width: calc(99% - 69vw);
        height: calc(69vw * 0.42);
    }

    @keyframes fadeout {
        0% { opacity: 1; }
        30% { opacity: 1;}
        100% { opacity: 0; }
    }

    .warning-animation{
        display: none;
    }
    .showWarningAnimation{
        display: block;
        animation-delay: 3s;
        animation: fadeout 7s ease-out;
        color: $red;
        font-weight: 700;
    }

    .no-selections{
        font-size: 2rem;
        font-weight: 550;
        text-align: center;
    }
}