@import "../../common/styleAssets";

.refresh-button, .balance-holder {
    margin-left: 10px;
}

.holder{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: flex-end;

    @media (max-width: $mobile-resolution-breakpoint){
        display: none;
    }

    .address-holder, .balance-holder{
        display: flex;
    }
     
    .address {
        font-weight: 550; 
        margin-left: 2px;
    }
    .balance{
        font-weight: 550;
        margin-left: 2px;
        max-width: 130px !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.navbar {
    z-index: 12 !important;
    position: fixed !important;
    width: 100% !important;
    flex-wrap: nowrap !important;
    height: 56px !important;
    background-color: $dark-green;
    color: $white !important;
    min-width: 775px !important;

    .app-name{
        font-family: "Comic Sans MS"
    }

    .navbar-brand{
        display: flex;
        align-items: center;
    }

    .logo-image{
        margin-right: 5px;
    }
    .logo-image:hover{
        cursor: pointer;
    }

    @keyframes animate-position {
        0%{
            position: fixed;
            top: calc(.5rem + .3125rem);
            left: 1rem;
            height: 32px;
            width: 32px;
        }
        50%{
            position: fixed;
            top: calc((100% - 100vmin) / 2);
            left: calc((100% - 100vmin) / 2);
            height: 100vmin;
            width: 100vmin;
        }
        100%{
            position: fixed;
            top: calc(.5rem + .3125rem);
            left: 1rem;
            height: 32px;
            width: 32px;
        }
    }

    @keyframes animate-rotation {
        100%{
            transform: rotate(360deg);
        }
    }

    .showAnimation{
        animation: animate-position 4.5s ease, animate-rotation 1.5s linear infinite;
    }

    .offset{
        margin-left: 37px;
    }
}