@import "../../common/styleAssets";

.refresh-button, .balance-holder {
    margin-left: 10px;
}

.holder{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: flex-end;
     
    .address, .balance {
        font-weight: 550;
    }
}

.navbar {
    z-index: 12 !important;
    position: fixed !important;
    width: 100% !important;
    flex-wrap: nowrap !important;
    height: 56px !important;
    background-color: $dark-green;
    color: $white !important;
}