
.refresh-button, .balance-holder {
    margin-left: 10px;
}

.holder{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: flex-end; 
    .address, .balance {
        font-weight: 550;
    }
}

.navbar {
    flex-wrap: nowrap !important;
}

.refresh-button {
    border: solid 1px;
}