.board-base{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border: solid 1px black;
    padding: 5px;
    min-height: 350px;

    .numbers{
        display:flex;
        width: 83%;
        height: 70%;
        flex-wrap: wrap;
        align-content:flex-start; 
    }
    .numbers-zero{
        width: 7%;
        height: 180px;
        border-top-left-radius: 180px;
        border-bottom-left-radius: 180px;
    }
}

.board-items{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.board-items:hover {
    cursor: pointer;
}
