.board-base{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    border: solid 1px black;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;

    .numbers{
        display:flex;
        width: 80.04%;
        height: 180px;
        flex-wrap: wrap;
        align-content:flex-start; 
    }
    .numbers-zero{
        width: 6.66%;
        height: 180px;
        border-top-left-radius: 180px;
        border-bottom-left-radius: 180px;
    }
    .two2one{
        width: 13.3%;
        height: 180px;
        .item{
            height: percentage(1/3);
        }
    }
    .twelfth{
        width: 80.04%;
        margin-left: 6.66%;
        .item{
            width: percentage(1/3);
            height: 45px; 
        }
        .item-second {
            width: percentage(1/6);
            height: 45px;
        }
    }
}

.board-items{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.board-items:hover {
    cursor: pointer;
}
