@import "../../common/styleAssets";

.board-base{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    border: solid 1px black;
    border-radius: 32px;
    padding: 20px 10px;
    height: fit-content;
    font: 23px Arial, sans-serif;
    background-color: $dark-green;
    border-color: $white;
    color: $white;
    width: 90vw;
    height: calc(90vw * 0.42);
    margin-bottom: 10px;
    margin: 0 auto 15px;
    @media(min-width: $screen-resolution-breakpoint) {
        width: 69vw;
        height: calc(69vw * 0.42);
    }

    .number {
        width: percentage(1/12);
        height: percentage(1/3);
    }

    .numbers{
        display:flex;
        width: 80.04%;
        height: 60%;
        flex-wrap: wrap;
        align-content:flex-start; 
        border-color: $white;
        color: $white;
    }
    .numbers-zero{
        width: 6.66%;
        height: 60%;
        border-top-left-radius: 180px;
        border-bottom-left-radius: 180px;
        border-color: $white;
        color: $white;
    }
    .two2one{
        width: 13.3%;
        height: 60%;
        .item{
            height: percentage(1/3);
            border-color: $white;
            color: $white;
        }
    }
    .twelfth{
        width: 80.04%;
        margin-left: 6.66%;
        height: 20%;
        .item{
            width: percentage(1/3);
            border-color: $white;
            color: $white; 
        }
        .item-second {
            width: percentage(1/6);
            border-color: $white;
            color: $white;
        }
    }
    .numberCircle {
        border-radius: 50%;
        
        width: 90%;
        height: 90%;
        
        border: 2px solid $white;
        color: $white;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .black{
        .numberCircle{
            background-color: $black;            
        }
    }
    .red{
        .numberCircle{
            background-color: $red;
        }
    }

    .zero-height-fix{
        height: 50px;
        border-color: $white;
        color: $white;
    }
}

.board-items{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px $white;
}

.board-items:hover {
    cursor: pointer;
}
